.no-bullets
{
	list-style-type: none;
}


.notebook
{
	background-image: url("../img/paper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.transbox {
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    padding-top: 50px;
    margin-top: 126px;
}

body.login-body {
    background-color: #444;
    background: url("https://download.unsplash.com/1/irish-hands.jpg");
    background-repeat: -y gradient;
    background-size: cover;
}
.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 150px;
}
.img-responsive {
display: block;
max-width: 100%;
height: auto;
margin: auto;
background-color: rgba(255, 255, 255, 0.2);
}
.panel {
margin-bottom: 20px;
background-color: rgba(255, 255, 255, 0.5);
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-heading
{
	padding: 0px 0px;
}

.error-msg
{
	color:red;
}
